#container {
  grid-template-columns: 1fr auto 1fr;
  align-content: space-evenly;
} 

#nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#hexagon-logo {
 display: block;
 margin: 0 auto;
 height: 10rem;
 width: 10rem;
}