#container {
  grid-template-columns: 1fr auto 1fr;
  align-content: space-evenly;
} 

#hexagon-logo {
 display: block;
 margin: 1.25rem auto;
 height: 10rem;
 width: 10rem;
}

#nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-size: 1.25rem;
}

.links {
  text-decoration: none;
}

.links:visited {
  color: #000000;
}