#hexagon-logo {
 display: block;
 margin: 1.25rem auto;
 height: 10rem;
 width: 10rem;
}

#nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  font-size: 1.25rem;
}

.project-link {
  text-decoration: none;
  color: #000000;
}

.project-link:visited {
  color: #000000;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 3rem;
  justify-items: center;
}

.clipboard-image {
  max-width: 100%;
  height: auto;
}

#about-container {
  display: grid;
  justify-items: center;
  margin: 3rem auto;
}